/composer.lock
/composer.phar
/phpunit.xml
/.phpunit.result.cache
/phpunit.phar
/config/Migrations/schema-dump-default.lock
/vendor/
/.idea/
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*~
/.ddev/
.idea/*
nbproject/*
.vscode
.DS_Store
.cache
.project
.settings
.svn
errors.err
tags
node_modules
package-lock.json
/nbproject/
/vendor
/webroot/css/style.css.map
/webroot/mix.js.map
/webroot/mix-manifest.json
/tools/
/.phpunit.cache/
/auth.json
